*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #edeef6;
    font-family: poppins, sans-serif;
    background-image: url(images/floral-pattern2.jpg);
}
/* ----------Header section --------------- */
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Hoempage.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-textc{
  padding-top: 100px;
  font-weight: 800;
  margin-top: 9%;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}
.header-textc h1{
  font-size: 60px;
}
.header-textc h1 span{
  color: #ff004f;
  font-family: 'Signika', sans-serif;
}
.header-textc{
  text-align: center;
  font-size: 32px;
}
#About-font2{
  color: aliceblue;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}
#About-font3{
  color: #f8f8f8;
  font-family: 'Signika', sans-serif;
  font-size: 50px;
}

.btn{
  display: block;
  margin: 50px auto;
  width: fit-content;
  background-color: #f8f8f8;
  border: 1px solid #fff;
  padding: 13px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #205e43;
  transition: background 0.5s;
  font-family: 'Signika', sans-serif;
  font-weight: bold;
}
.btn:hover{
  border: 1px solid #205e43;
  background: #d8d5d5;

}
.btn2{
  display: block;
  margin: 50px auto;
  width: fit-content;
  background-color: #f8f8f8;
  border: 1px solid #fff;
  padding: 13px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #205e43;
  transition: background 0.5s;
  font-weight: bold;
}
.btn2:hover{
  border: 1px solid #fff;
  background: #d8d5d5;

}

/* -------------Modal Section---------------- */
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    cursor: pointer;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal {
    background-color: #fff;
    max-width: 80%; /* Adjust the maximum width as needed */
    max-height: 80vh; /* Set a maximum height to allow scrolling */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto; /* Enable vertical scrolling */
}


.modal h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal p {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 20px;
}

#close{
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* ------------Card Section -------------- */
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #667;
    font-size: 15px;
    line-height: 1.3;
}

/* ------------- Services Section ------------------------ */
/* ----------- Services Section --------------- */
.card-text{
  font-size: 12px;
}
.services {
  margin-top: 20px;
  color: #fff;
}
.services ul {
  list-style-type: disc;
  padding-left: 20px;
}
.services li {
  font-size: 19px;
  margin-bottom: 10px;
}

/* -------Footer Section ------------------- */
a {
    text-decoration: none;
    color: darkslateblue;
  }
  html{
    scroll-behavior: smooth;
  }
  .header h1{
    color: #fff;
    font-size: 35px;
    font-family: 'Niconne', cursive;
    letter-spacing: 0.2em;
  }
  
  #About-font1 {
    font-size: 25px;
  }
  .caption a {
    font-family: 'Monoton', cursive;
  }
  .caption h2 {
    color: #fff;
    font-size: 45px;
    font-family: 'Darker Grotesque', cursive;
    font-weight: 700;
    margin-bottom: 10%;
  }
  
  .button{
    border-radius: 6px;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 100; 
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a{
    color: #f8f8f8;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffd346;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  nav ul li a:hover::after{
    width: 100%;
  
  }
  
  h4 {
    margin-top: 10px;
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .foot{
    background-color: #e8e3d1;
  }
  
  .footer {
    max-width: 1216px;
    margin: 0 auto;
    position: relative;
    font-weight: 800;
  }
  
  .mb-20 {
    margin-bottom: 20px !important;
  }
  
  p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .list-unstyled {
    list-style: none;
    padding-left: 0;
  }
  
  .list-unstyled a {
    margin-bottom: 7px;
    font-size: 21px;
  }
  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    
  }
  
  .text-fine{
    font-size: 20px;
    color: darkslateblue;
  }
  
  /* -------- Divided Section --------------- */
  .wrapper .left, 
  .wrapper .right{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper .image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.25s ease all;
  }
  .events{
    background: url(images/Hoempage.png);
  }
  .restaurant{
    background: url(images/buger.jpg);
  }
  .wrapper .left:hover .image,
  .wrapper .right:hover .image{
    transform: scale(1.2);
  }
  .wrapper .caption{
    position: relative;
    z-index: 10;
    color: #fff;
    text-align: center;
  }
  .wrapper .caption h1{
    text-transform: uppercase;
    letter-spacing: 0.25em;
    
  }
  .wrapper .caption .button{
    background: #000;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.25s ease all;
  }
  .wrapper .caption .button:hover{
    background: #ffd346;
    color: #000;
  }
  .wrapper .side::before{
    background: rgb(0,0,0,0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
  }
  
  .d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
  /** Social media Icons **/
  .socials{
    text-align: center;
    background-color: #d8b542;
  }
  
  .fa {
    font-size: 3em; /* Set the icon size */
    padding: 7px; /* Add some space around the icon */
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 3%; /* Add some space between the icons */
    text-decoration: none; /* Remove the underline from the links */
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7; /* Make the icon slightly transparent on hover */
  }
  
  /* Set a specific color for each icon */
  .fa-instagram {
    color: #e4405f; /* Use the Instagram brand color */
  }
  
  .fa-facebook {
    color: #3b5998; /* Use the Facebook brand color */
  }
  
  .fa-twitter {
    color: #55acee; /* Use the Twitter brand color */
  }
  
  .fa-envelope {
    color: #d44638; /* Use a red color for the email icon */
  }
  
  .fa-map-marker {
    color: #4caf50; /* Use a green color for the location icon */
  }
  
  .fa-phone {
    color: #2196f3; /* Use a blue color for the phone icon */
  }
  
  
  
  
  /* -------MEDIA QUARRIES -------------- */
  @media screen and (min-width:1200px) {
    .wrapper{
      display: flex;
    }
    .wrapper .left, 
    .wrapper .right{
    width: 50%;
    height: 100vh;
    }
    nav .fas{
      display: none;
    }
  }
  @media screen and (max-width:768px){
    .header h1{
      font-size: 20px;
    }
    .fas{
      color: #fff;
    }
    nav ul{
      background: #205e43;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
  }
  nav ul li{
      display: block;
      margin: 25px;
  }
  nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }
  }
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    /* CSS styles specific to smartphones in landscape mode */
    /* Add your styles here */
    .header h1{
      font-size: 20px;
    }
    .fas{
      color: #fff;
    }
    nav ul{
      background: #205e43;
      position: fixed;
      top: 0;
      right: -200px;
      width: 200px;
      height: 100vh;
      padding-top: 50px;
      z-index: 2;
      transition: right 0.5s;
  }
  nav ul li{
      display: block;
      margin: 25px;
  }
  nav ul .fas{
      position: absolute;
      top: 25px;
      left: 25px;
      cursor: pointer;
  }
  }
  @media (max-width: 767px) {
  .flex-col {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      -webkit-flex-direction: column;
      flex-direction: column;
  }
  }
  
  @media (min-width: 768px) {
  .s1 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
      -webkit-flex: 0 0 75%;
      flex: 0 0 75%;
      max-width: 75%;
  }
  }
  
  @media (min-width: 768px) {
  .s2 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
      -webkit-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%;
  }
  }
  
  /* Use media queries to make the icons responsive */
  @media screen and (max-width: 600px) {
    .fa {
      font-size: 1.5em; /* Reduce the icon size for smaller screens */
      padding: 5px; /* Reduce the space around the icon for smaller screens */
      margin: 12px; /* Reduce the space between the icons for smaller screens */
    }
  }


/* ------------- Media Quarries ------------------ */
@media only screen and (max-width: 991px){
    .card {
        width: calc(100% - 20px); /* Full width for cards on small screens */
    }
}


/* ------- About Section ----------------------------- */
#about{
  padding-top: 5%;
  padding-bottom: 5%;
}
.green-line {
    border: none;
    width: 45%;
    padding-left: 15%;
    border-top: 6px solid #205e43;
  }
#left-paragraph{
  font-size: 35px;
  font-weight: 80%;
  padding-left: 15%;
}
#right-paragraph{
  font-size: 20px;
  font-weight: 80%;
  padding-left: 35%;
  padding-right: 15%;
}
#tricky-section {
  background-color: #205e43;
  color: #fff;
  text-align: center;
  padding: 40px;
}

.square-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.square {
  width: 220px;
  height: 220px;
  background-color: #fff;
  margin: 0 10px;
}
.square img{
    width: 100%;
    height: 100%;
  } 

  /*-------------- Testimonials --------------  */
#testimonial_area{
  padding: 10% 0;
}
.box-area{
  padding: 30px;
  position: relative;
  display: block;
  background: #fff;
  color: #000;
  box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
  margin: 40px 0;
}
.box-area h5{
  font-size: 16px;
  font-weight: 700;
  color: #0a69ed;
  margin-top: 30px;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.box-area span{
  color: #262626;
  display: block;
  font-size: 13px;
  margin: 0 0 10px;
  font-weight: 400;

}
.box-area .content{
  color: #262626;

}
.box-area .img-area{
  width: 90px;
  height: 90px;
  position: absolute;
  top: -40px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}
.box-area .img-area img{
  width: 100%;
  height: auto;
  border-radius: 50%;
  
}
.socials{
  margin-top: 30px;

}
.content i{
  margin: 0 10px;
  color: #0a69ed;
  font-size: 18px;

}
#testimonial_area .owl nav{
  position: absolute;
  top: 50%;
  width: 100%;

}
#testimonial_area .owl-prev,
#testimonial_area .owl-next{
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #0a69ed;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: absolute;
}
#testimonial_area .owl-prev{
  left: -60px;
  top: 40%;
  font-size: 40px;

}
#testimonial_area .owl-next{
  right: -60px;
  top: 40%;
  font-size: 40px;
  
}
